/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open-Sans", sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
	list-style-type: none;
}

li {
	display: inline-block;
	padding: 8px 10px;
}
/* intro section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p{
	/* creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
}
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.1rem;
	padding-left: 1rem;
	padding-top: 0.60rem;
	padding-bottom: 0.75rem;	
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#pre-footer {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2rem;
	background-color: #002540;
	color: white;
}

#pre-footer p {
	margin-bottom: 0.4rem;
}
#pre-footer h3 {
	margin-bottom: 0.4rem;
}
#pre-footer .pref {
	display: inline-block;
	vertical-align: top;
	min-height: 150px;
	width: 23%;
	margin-left: 0.1;
	margin-right: 0.1;
}
